<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>


    
    <!-- Basic Horizontal form layout section start -->
    <!-- <section id="basic-horizontal-layouts"> -->
    <div class="row ">
      <div class="col-md-6">
        <div class="card">
          <!-- <core-card-snippet [snippetCode]="_snippetCodeHorizontal"> -->

          <div class="card-header">
            <h4 class="card-title">Campaign details</h4>
          </div>

          <div class="card-body">
            <form class="form form-horizontal">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="first-name">Campaign name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" id="campaign-name" class="form-control" name="c-name" placeholder="Campaign name" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Number of Positions </label>
                    </div>
                    <div class="col-sm-9">
                      <input type="number" id="positions-nb" class="form-control" name="c-positions-nb" placeholder="Number of positions" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="contact-info">Description</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-desc" placeholder="Description" name="c-desc"  rows="5" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="password">Closing Date</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="date" id="closing-date" class="form-control" name="c-closing-date"
                        placeholder="Closing Date" />
                    </div>
                  </div>
                </div>
                <br><br><br><br>
                <br>
                
                <div class="col-sm-9 offset-sm-3">
                  <button type="submit" rippleEffect class="btn btn-primary mr-1">save</button>
                  <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- </core-card-snippet> -->
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Researched Profil</h4>
          </div>

          <div class="card-body">
            <form class="form form-horizontal">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="contact-info">Education Level</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-rp-el" placeholder="Education Level" name="c-rp-el"  rows="1" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="contact-info">Globale Exprience</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-rp-ge" placeholder="Globale exprience" name="c-pr-ge"  rows="1" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="contact-info">Current Situation</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-rp-cs" placeholder="Current situation" name="c-rp-cs"  rows="1" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="contact-info">Function</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-rp-func" placeholder="Function" name="c-rp-func"  rows="1" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="contact-info">Availability</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-rp-avl" placeholder="Availability" name="c-rp-avl"  rows="1" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="contact-info">Skills</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-skills" placeholder="Skills" name="c-skills"  rows="1" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9 offset-sm-3">
                  <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
                  <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
      <!-- </section> -->
      <!-- / Basic Horizontal form layout section end -->

      <!-- Basic multiple Column Form section end -->




  <!--     
    <div class="row" id="table-hover-animation">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Table de Recrutement</h4>
          </div>
          <div class="card-body">
            <!-- <p class="card-text">
          Add <code>.table-hover-animation</code> to enable a hover stat with animation on table rows within a
          <code class="highlighter-rouge">&lt;tbody&gt;</code>.
          </p> 
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="d-flex justify-content-between align-items-center m-1">
                  <button class="btn btn-primary ml-1" routerLink="/cvtech/compaign" rippleEffect>
                    <i data-feather="plus" class="mr-0 mr-sm-1"></i><span class="d-none d-sm-inline-block">Add New
                      Record</span>
                  </button>
                </div>
              </div>
              <div class="col-md-6 col-12 d-flex justify-content-md-end">
                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                  <label class="d-flex align-items-center">Search<input type="search" placeholder="Search"
                      class="form-control ml-25" /></label>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover-animation">
              <thead>
                <tr>
                  <th>Nom de la Compagne</th>
                  <th>Nombre de Postes</th>
                  <th>Description</th>
                  <th>Date de Cloture</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="assets/images/icons/angular.svg" class="mr-75" height="20" width="20"
                      alt="Angular" /><span class="font-weight-bold">Angular Project</span>
                  </td>
                  <td>Peter Charls</td>
                  <td>
                    <div class="avatar-group">
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                    </div>
                  </td>
                  <td><span class="badge badge-pill badge-light-primary mr-1">Active</span></td>
                  <td class="overflow-hidden">
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                            class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem href="javascript:void(0);"><i
                            data-feather="trash" class="mr-50"></i><span>Delete</span></a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/images/icons/react.svg" class="mr-75" height="20" width="20" alt="React" /><span
                      class="font-weight-bold">React Project</span>
                  </td>
                  <td>Ronald Frest</td>
                  <td>
                    <div class="avatar-group">
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                    </div>
                  </td>
                  <td><span class="badge badge-pill badge-light-success mr-1">Completed</span></td>
                  <td class="overflow-hidden">
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                            class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem href="javascript:void(0);"><i
                            data-feather="trash" class="mr-50"></i><span>Delete</span></a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/images/icons/vuejs.svg" class="mr-75" height="20" width="20" alt="Vuejs" /><span
                      class="font-weight-bold">Vuejs Project</span>
                  </td>
                  <td>Jack Obes</td>
                  <td>
                    <div class="avatar-group">
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                    </div>
                  </td>
                  <td><span class="badge badge-pill badge-light-info mr-1">Scheduled</span></td>
                  <td class="overflow-hidden">
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                            class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem href="javascript:void(0);"><i
                            data-feather="trash" class="mr-50"></i><span>Delete</span></a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="assets/images/icons/bootstrap.svg" class="mr-75" height="20" width="20"
                      alt="Bootstrap" /><span class="font-weight-bold">Bootstrap Project</span>
                  </td>
                  <td>Jerry Milton</td>
                  <td>
                    <div class="avatar-group">
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Lilian Nenez">
                        <img src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                      <div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" title=""
                        class="avatar pull-up my-0" ngbTooltip="Alberto Glotzbach">
                        <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" height="26" width="26" />
                      </div>
                    </div>
                  </td>
                  <td><span class="badge badge-pill badge-light-warning mr-1">Pending</span></td>
                  <td class="overflow-hidden">
                    <div ngbDropdown container="body">
                      <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                        <i data-feather="more-vertical"></i>
                      </button>
                      <div ngbDropdownMenu>
                        <a ngbDropdownItem href="javascript:void(0);"><i data-feather="edit-2"
                            class="mr-50"></i><span>Edit</span></a><a ngbDropdownItem href="javascript:void(0);"><i
                            data-feather="trash" class="mr-50"></i><span>Delete</span></a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>