<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row ">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">User details</h4>
          </div>
          <div class="card-body">
            <form class="form form-horizontal">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="first-name">Civility</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <label for="customSelect"></label>
                        <select class="custom-select" id="user-civ" name="user-civ">
                          <option value="IT">Mr.</option>
                          <option value="Blade Runner">Mr.</option>
                          <option value="Thor Ragnarok">Mm</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">First Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" id="user-fn" class="form-control" name="user-fn" placeholder="First Name" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Last Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" id="user-ln" class="form-control" name="user-ln" placeholder="Last Name" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="password">Bith Date</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="date" id="closing-date" class="form-control" name="c-closing-date"
                        placeholder="Closing Date" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Email</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" id="user-email" class="form-control" name="user-email" placeholder="Email" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Phone Number</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" id="user-phone" class="form-control" name="user-phone"
                        placeholder="Phone Number" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="first-name">Country</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <select class="form-control" id="basicSelect" name="user-country">
                          <option>Morooco</option>
                          <option>France</option>
                          <option>Spain</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">City</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" id="user-city" class="form-control" name="user-city" placeholder="City" />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Adress</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-rp-cs" placeholder="Current situation" name="c-rp-cs" rows="2" wrap="soft"
                        class="form-control" data-v-aa799a9e=""></textarea>
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="col-sm-9 offset-sm-3">
                  <button type="submit" rippleEffect class="btn btn-primary mr-1">save</button>
                  <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
