<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row ">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title text-primary">Add Candidat</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form form-horizontal">
              <div class="row">

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="first-name">Civility</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <label for="customSelect"></label>
                        <select class="custom-select" name="civility" formControlName="civility" id="user-civ">
                          <option value="Mr.">Mr.</option>
                          <option value="Mlle.">Mlle.</option>
                          <option value="Mme.">Mme.</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 form-group">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Full Name</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                        placeholder="Enter your first name" />
                      <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Full name is required</div>
                        <div *ngIf="f['name'].errors['pattern']">
                          First name must have characters only
                        </div>
                        <div *ngIf="f['name'].errors['minlength']">Add more characters</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="password">Bith Date</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="date" id="closing-date" class="form-control" formControlName="birthDate"
                        name="c-closing-date" />
                      <div *ngIf="submitted && f['birthDate'].errors" class="invalid-feedback">
                        <div *ngIf="f['birthDate'].errors['required']">Birth date is required</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Email</label>
                    </div>
                    <div class="col-sm-9">
                      <input name="user-email" placeholder="Enter your email" type="text" formControlName="email"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Phone Number</label>
                    </div>
                    <div class="col-sm-9">
                      <input name="phone" placeholder="Enter your phone number" type="text" formControlName="phone"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
                      <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                        <div *ngIf="f['phone'].errors['required']">Phone Number is required</div>
                        <div *ngIf="f['phone'].errors['pattern']">
                          Phone Number must start with eg: +2126 or 02126 or 06
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="first-name">Country</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <select class="form-control" id="basicSelect" name="country" formControlName="country">
                          <option>Morocco</option>
                          <option>France</option>
                          <option>Spain</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">City</label>
                    </div>
                    <div class="col-sm-9">
                      <input name="city" placeholder="City" placeholder="Enter your city" type="text" formControlName="city"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" />
                      <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                        <div *ngIf="f['city'].errors['required']">City is required</div>
                        <div *ngIf="f['city'].errors['pattern']">City must have characters only </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Adress</label>
                    </div>
                    <div class="col-sm-9">
                      <input name="adress" placeholder="Enter your adress" type="text" formControlName="adress"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
                      <div *ngIf="submitted && f['adress'].errors" class="invalid-feedback">
                        <div *ngIf="f['adress'].errors['required']">The adress is required</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email-id">Message</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="campaign-rp-cs" placeholder="Enter a message" name="message" rows="2" wrap="soft"
                        formControlName="message" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
                        class="form-control" data-v-aa799a9e=""></textarea>
                      <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                        <div *ngIf="f['message'].errors['required']">Message is required</div>
                        <div *ngIf="f['message'].errors['minlength']">
                          Message should be between 10 to 255 characters
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <br><br>
                <div class="col-sm-9 offset-sm-3">
                  <div class="d-flex justify-content-end mb-1 pr-3">
                    <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                    <!-- <button type="submit" (click)="AddCampaign()" rippleEffect class="btn btn-primary mr-1">save</button> -->
          
                    <!-- Sweet Alert With Position bottom-end -->
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary mr-1"[swal]="SweetAlertBottomEnd" rippleEffect>Save</button>
                    <!-- Swal of Sweet Alert With Position bottom-end -->
                    <swal
                      #SweetAlertBottomEnd
                      title="Your work has been saved"
                      icon="success"
                      [showConfirmButton]="false"
                      [timer]="1800"
                      [position]="'bottom-end'"
                    >
                    </swal>
                    <!--/ Swal of Sweet Alert With Position bottom-end -->
                  </div>
                  <!-- <button type="submit" onsubmit="onSubmit()" rippleEffect class="btn btn-primary mr-1">save</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>