<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>   
      <section class="horizontal-wizard">
        <div id="stepper2" class="bs-stepper horizontal-wizard-example">
          <div class="bs-stepper-header">
            <div class="step" data-target="#account-details">
              <button class="step-trigger">
                <span class="bs-stepper-label">
                  <h4 class="bs-stepper-title">Company entity Details</h4>
                </span>
              </button>
            </div>         
          </div>
          <div class="bs-stepper-content">
            <form #HWForm="ngForm">
              <div id="account-details" class="content">
                <form #accountDetailsForm="ngForm">
                  
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label class="form-label" for="companyname">Company entity name</label>
                      <input
                        type="text"
                        name="companyunitname"
                        id="companyunitname"
                        class="form-control"
                        value="{{companyEntity.name}}"
                        disabled
                      />                   
                    </div>
                    <div class="form-group col-md-6">
                      <label class="form-label" for="email">Company name</label>
                      <input
                        type="text"
                        name="companyname"
                        id="companyname"
                        class="form-control"
                        aria-label="giantlink"
                        value="{{companyEntity.timestamp}}"
                        disabled
                      />                
                    </div>
                  </div>
                </form>
                  <br>
                <div class="content-header">
                  <h5 class="mb-0">Departments Details</h5>
                </div>
                <div class="row">
                  <div class="col-12  mb-2">
                    <button class="btn btn-primary ml-1" rippleEffect
                    (click)="modalAddentity(modalPrimaryAdd)">
                      <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                      <span class="d-none d-sm-inline-block">
                        Add New Department
                      </span>
                    </button>              
                    <label class="d-flex align-items-center float-right mr-1">
                      Search
                      <input type="search" [(ngModel)]="name" name="name" id="name" 
                      placeholder="Search by Name" class="form-control ml-25"/>
                    </label>
                  </div>
                </div>
                
                <ngx-datatable class="bootstrap core-bootstrap ml-1" 
                  [columnMode]="'flex'" 
                  [headerHeight]="40"
                  [footerHeight]="50" 
                  [rowHeight]="58"
                  [limit]="10" 
                  rowHeight="auto" 
                  [rows]="departments"
                  [selected]="chkBoxSelected"
                >
    
                  <ngx-datatable-column name="Name" [flexGrow]="1.25">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row?.name}}
                    </ng-template>
                  </ngx-datatable-column>
                  
    
                  <ngx-datatable-column name="Actions" [flexGrow]="0.75" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="d-flex align-items-center">
                        <div ngbDropdown container="body">
                          <a
                            ngbDropdownToggle
                            href="javascript:void(0);"
                            class="hide-arrow"
                            id="dropdownBrowserState"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i data-feather="more-horizontal" class="text-primary cursor-pointer mr-50"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right" 
                            aria-labelledby="dropdownBrowserState">
                            
                            <a ngbDropdownItem href="javascript:void(0);" 
                            (click)="modalEdit(modalPrimaryedit,row.id)">
                              <i data-feather="edit-2" class="mr-50"></i>
                              <span>Edit</span>
                            </a>

                            <a ngbDropdownItem href="javascript:void(0);"
                            (click)="deleteDepartment(row.id)">
                              <i data-feather="trash" class="mr-50"></i>
                              <span>Delete</span>
                            </a >

                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
    
                <ngx-datatable-footer>
                  <ng-template 
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount"
                    let-curPage="curPage"
                    let-offset="offset"
                    let-isVisible="isVisible">
                      <div class="page-count">
                        <span *ngIf="selectedMessage">
                          {{selectedCount.toLocaleString()}} {{selectedMessage}} / 
                        </span>
                        {{rowCount.toLocaleString()}} {{totalMessage}}
                      </div>
                  </ng-template>
                </ngx-datatable-footer>
    
                <div class="col-lg-12">
                  <ngb-pagination
                    class="d-flex justify-content-end"
                    [directionLinks]="false"
                    [collectionSize]="totalPages"
                    [(page)]="pagePosition"
                    (pageChange)="pageChanged($event)"
                  >
                    <ng-template ngbPaginationPrevious>
                      <span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'">
                      </span>Prev
                    </ng-template>

                    <ng-template ngbPaginationNext>
                      Next
                      <span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'">
                      </span>
                    </ng-template>

                  </ngb-pagination>
                </div>

              </div>
              <div id="personal-info" class="content">           
              </div>
              <div id="address" class="content"> 
              </div>
              <div id="social-links" class="content">      
              </div>
            </form>
          </div>
        </div>
      </section>  
    </div>
  </div>
  

  <ng-template #modalPrimaryedit let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">Edit Department
        </h5>
        <button type="button" class="close"
            (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="nameeditdep">Name of department</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="nameeditdep" class="form-control"
                        name="nameeditdep"
                        [(ngModel)]="options.name" />
                </div>
            </div>
        </div>
    <div class="col-12">
      <div class="form-group row">
          <div class="col-sm-3 col-form-label">
              <label for="namec">Entity </label>
          </div>
          <div class="col-sm-9">
            <select class="form-control" (change)="onChange($event)">
              <option *ngFor="let entity of entities" id="comp"
              value="{{entity.id}}">{{entity.name}}</option>
          </select>
          </div>
      </div>
  </div>       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="updateDepartment();modal.close('Accept click')"
            rippleEffect>
            Accept
        </button>
    </div>
</ng-template>

<ng-template #modalPrimaryAdd let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Add department</h5>
      <button type="button" class="close"
          (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
      <div class="col-12">
          <div class="form-group row">
              <div class="col-sm-3 col-form-label">
                  <label for="entityname">Name of department</label>
              </div>
              <div class="col-sm-9">
                  <input type="text" id="entityname" class="form-control"
                      name="entityname" [(ngModel)]="department.name"
                     />
              </div>
          </div>
      </div>
  <div class="col-12">
    <div class="form-group row">
        <div class="col-sm-3 col-form-label">
            <label for="namec">Company entity</label>
        </div>
        <br>
        <div class="col-sm-9">
          <select class="form-control" (change)="onChange($event)">
            <option *ngFor="let entity of entities" id="comp"
            value="{{entity.id}}">{{entity.name}}</option>
        </select>
        </div>
    </div>
</div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary"
          (click)="saveDepartment();modal.close('Accept click')"
          rippleEffect>
          Accept
      </button>
  </div>
</ng-template>



