<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h4 class="card-title text-primary">All Companies</h4>
              </div>

              <div class="row">
                <div class="col-12  mb-2">
                  <button class="btn btn-primary ml-1" rippleEffect
                      (click)="modalOpenPrimary(modalPrimary)">
                      <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                      <span class="d-none d-sm-inline-block">Add New Company</span>
                  </button>  
                          
                  <label class="d-flex align-items-center float-right mr-1">
                    Search
                    <input type="search" [(ngModel)]="name" name="name" id="name" 
                        placeholder="Search by Name" class="form-control ml-25"
                        (keyup)="getCompanies()" 
                    />
                  </label>
                </div>
              </div>

              <!--               
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <div class="d-flex justify-content-between align-items-center m-1">
                                      <label class="d-flex align-items-center">Show
                                          <select class="form-control mx-25" [(ngModel)]="pageSize"
                                              (change)="getCompanies()">
                                              <option value="5">5</option>
                                              <option value="10">10</option>
                                              <option value="25">25</option>
                                              <option value="50">50</option>
                                          </select>
                                          entries</label>

                </div>
             </div>   -->

              <ngx-datatable class="bootstrap core-bootstrap ml-1" 
                [columnMode]="'flex'" 
                [headerHeight]="40"
                [footerHeight]="50" 
                [rowHeight]="58"
                [limit]="10" 
                rowHeight="auto" 
                [rows]="companies"
                [selected]="chkBoxSelected"
              >

                <ngx-datatable-column name="Name" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.name}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Address" [flexGrow]="1.75">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.address}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Email" [flexGrow]="1.35">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.email}} 
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column  name="Phone Number" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.phoneNumber }}
                  </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Actions" [flexGrow]="0.75" >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div ngbDropdown container="body">
                        <a
                          ngbDropdownToggle
                          href="javascript:void(0);"
                          class="hide-arrow"
                          id="dropdownBrowserState"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i data-feather="more-horizontal" class="text-primary cursor-pointer mr-50"></i>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu-right" 
                            aria-labelledby="dropdownBrowserState">
                          <a ngbDropdownItem href="javascript:void(0);" 
                              class="d-flex align-items-center"
                              routerLink="company-details/{{row.id}}">
                              <i data-feather="info" class="mr-50"></i>
                              <span>Details</span>
                          </a>
                          <a ngbDropdownItem href="javascript:void(0);" 
                              (click)="modalEdit(modalPrimaryedit,row.id)">
                              <i data-feather="edit-2" class="mr-50"></i>
                              <span>Edit</span>
                          </a>
                          <a ngbDropdownItem href="javascript:void(0);" 
                              (click)="deleteCompany(row.id)">
                              <i data-feather="trash-2" class="mr-50"></i>
                              <span>Delete</span>
                          </a>
                        </div>

                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

              <ngx-datatable-footer>
                <ng-template 
                  ngx-datatable-footer-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selectedCount"
                  let-curPage="curPage"
                  let-offset="offset"
                  let-isVisible="isVisible">
                    <div class="page-count">
                      <span *ngIf="selectedMessage">
                        {{selectedCount.toLocaleString()}} {{selectedMessage}} / 
                      </span>
                      {{rowCount.toLocaleString()}} {{totalMessage}}
                    </div>
                </ng-template>
              </ngx-datatable-footer>

              <div class="col-lg-12">
                <ngb-pagination
                  class="d-flex justify-content-end"
                  [directionLinks]="false"
                  [collectionSize]="totalPages"
                  [(page)]="pagePosition"
                  (pageChange)="pageChanged($event)"
                >
                  <ng-template ngbPaginationPrevious>
                    <span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'">
                    </span>Prev
                  </ng-template>

                  <ng-template ngbPaginationNext>Next
                    <span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'">
                    </span>
                  </ng-template>
                  
                </ngb-pagination>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------ Add Company ------------------->

    <ng-template #modalPrimary let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel160">ADD company</h5>

            <button type="button" class="close"
                (click)="modal.dismiss('Cross click')"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <form class="form form-horizontal">
          <div class="row">

            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <label for="name">Name</label>
                </div>
                <div class="col-sm-9">
                  <div class="form-group">
                    <input type="name" id="name" class="form-control" 
                    name="name" placeholder="name" 
                    [(ngModel)]="company.name" />                   
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <label for="address">Address</label>
                </div>
                <div class="col-sm-9">
                  <textarea id="address" placeholder="address" 
                    name="c-rp-cs"  rows="2" wrap="soft" class="form-control" data-v-aa799a9e=""
                    [(ngModel)]="company.address">
                  </textarea>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <label for="email">Email</label>
                </div>
                <div class="col-sm-9">
                  <input type="email" id="email" class="form-control" 
                  name="email" placeholder="email"[(ngModel)]="company.email"/>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <label for="phoneNumber">Phone number</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="phoneNumber" class="form-control" name="phoneNumber"
                    placeholder="phone number" [(ngModel)]="company.phoneNumber" />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                  <label for="webSite">Website</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" id="webSite" class="form-control"
                  name="webSite" placeholder="Website" 
                  [(ngModel)]="company.webSite"/>
                </div>
              </div>
            </div> 

            <br><br>
            <div class="col-sm-9 offset-sm-3">
              <button type="submit" rippleEffect class="btn btn-primary mr-1" 
                (click)="saveCompany()">save</button>
              <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
            </div>

          </div>
        </form>
        </div>
    </ng-template>   

    <!------------------ Edit Company ------------------->

    <ng-template #modalPrimaryedit let-modal>
      <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel160">Edit company</h5>

          <button type="button" class="close"
              (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>

          <div class="col-12">
              <div class="form-group row">
                  <div class="col-sm-3 col-form-label">
                      <label for="name">Name</label>
                  </div>
                  <div class="col-sm-9">
                      <input type="text" id="name" class="form-control"
                          name="name"
                          [(ngModel)]="edit.name" />
                  </div>
              </div>
          </div>

          <div class="col-12">
              <div class="form-group row">
                  <div class="col-sm-3 col-form-label">
                      <label for="address">Address</label>
                  </div>
                  <div class="col-sm-9">
                      <input type="text" id="address" class="form-control"
                          name="address" 
                          [(ngModel)]="edit.address">
                  </div>
              </div>
          </div>

          <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="email">Email</label>
                </div>
                <div class="col-sm-9">
                    <input type="email" id="email" class="form-control"
                        name="email" 
                        [(ngModel)]="edit.email" />
                </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="phoneNumber">Phonenumber</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="phoneNumber" class="form-control"
                        name="phoneNumber" 
                        [(ngModel)]="edit.phoneNumber"/>
                </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    <label for="webSite">Website</label>
                </div>
                <div class="col-sm-9">
                    <input type="text" id="webSite" class="form-control"
                        name="webSite"
                        [(ngModel)]="edit.webSite" />
                </div>
            </div>
        </div>
          
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-primary"
              (click)="updateCompany();modal.close('Accept click')"
              rippleEffect>
              Accept
          </button>
      </div>
    </ng-template>