<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row" id="basic-table">
      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h4 class="card-title text-primary">Campaign Details</h4>
          </div>
          <div class="table-responsive">
            <ngx-datatable class="bootstrap core-bootstrap ml-1" [columnMode]="'flex'" [headerHeight]="40"
              [footerHeight]="50" [rowHeight]="58" [limit]="10" rowHeight="auto" [rows]="[Campaign]">

              <ngx-datatable-column name="Name" prop="full_name" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    {{ row?.name }}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Description" prop="full_name" [flexGrow]="2">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    {{ row?.description }}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Nb Positions" prop="full_name" [flexGrow]="0.75">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    {{ row?.nbPositions }}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Date" prop="full_name" [flexGrow]="1.5">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    {{ row?.closing_date }}
                  </div>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
        </div>

        <!-- Details -->
        <div class="row">
          <div class="col-md-6 col-xl-4">
            <div class="card">
              <core-card [actions]="['collapse']">
                <h4 class="card-title text-primary">Availabilities</h4>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let availablity of Campaign?.availablities">{{availablity.name}}
                      {{availablity.description}}</li>
                  </ul>
                </div>
              </core-card>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card">
              <core-card [actions]="['collapse']">
                <h4 class="card-title text-primary">Educations</h4>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let education of Campaign?.educations">{{education.name}}
                      {{education.description}}</li>
                  </ul>
                </div>
              </core-card>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card">
              <core-card [actions]="['collapse']">
                <h4 class="card-title text-primary">Situations</h4>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let situation of Campaign?.situations">{{situation.name}}
                      {{situation.description}}</li>
                  </ul>
                </div>
              </core-card>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card">
              <core-card [actions]="['collapse']">
                <h4 class="card-title text-primary">Functions</h4>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let function of Campaign?.functions">{{function.name}}
                      {{function.description}}</li>
                  </ul>
                </div>
              </core-card>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card">
              <core-card [actions]="['collapse']">
                <h4 class="card-title text-primary">Skills</h4>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let skill of Campaign?.skills">{{skill.name}}
                      {{skill.description}}</li>
                  </ul>
                </div>
              </core-card>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card">
              <core-card [actions]="['collapse']">
                <h4 class="card-title text-primary">Experiences</h4>
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let experience of Campaign?.experiences">{{experience.name}}
                      {{experience.description}}</li>
                  </ul>
                </div>
              </core-card>
            </div>
          </div>
        </div>
        <!-- ---------------------------------- -->
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h4 class="card-title text-primary">Selected Candidats</h4>
              </div>

              <!-- Table of Selected Candidats -->
              <div class="table-responsive">
                <ngx-datatable class="bootstrap core-bootstrap ml-1" [columnMode]="'flex'" [headerHeight]="40"
                  [footerHeight]="50" [rowHeight]="58" [limit]="10" rowHeight="auto" [rows]="Postulations">

                  <ngx-datatable-column name="Name" prop="full_name" [flexGrow]="1.5">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        {{ row?.candidat.name }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Email" prop="full_name" [flexGrow]="2.5">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        {{ row?.candidat.email }}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Phone" prop="full_name" [flexGrow]="1.25">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        {{ row?.candidat.phone}}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Insert Date" [flexGrow]="1.25">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{ row?.date_postulation | date:'yyyy-MM-dd' }}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Actions" [flexGrow]="1">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="d-flex align-items-center">
                        <div ngbDropdown container="body">
                          <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="more-horizontal" class="text-primary cursor-pointer mr-50"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                            <!-- <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                              ><i data-feather="file-text" class="mr-50"></i> Edit</a
                            > -->
                            <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                              (click)="deleteSelectedCandidat(row?.id)">
                              <i data-feather="trash-2" class="mr-50"></i> Delete
                            </a>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>
              </div>

              <!-- start Modal --------->
              <div class="login-form m-1">
                <!-- Button trigger modal -->
                <button type="button" (click)="modalOpenSM(modalSM)" class="btn btn-outline-primary" rippleEffect>
                  <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                  Add Candidat
                </button>

                <!-- Modal -->
                <ng-template #modalSM let-modal>
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel160">Add Candidats Form</h5>
                    <button type="button" id="close-model" class="close" (click)="modal.dismiss('Cross click')"
                      aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" tabindex="0" ngbAutofocus>

                    <div class="row">
                      <div class="col-12 mb-1">
                        <label class="d-flex align-items-center float-right mr-1">
                          <input type="search" [(ngModel)]="name" name="name" id="name" placeholder="Search by Name"
                            class="form-control ml-25" />
                          <input type="search" [(ngModel)]="email" name="email" id="email" placeholder="Search by Email"
                            class="form-control ml-25" />
                          <input type="search" [(ngModel)]="phone" name="phone" id="phone" placeholder="Search by Phone"
                            class="form-control ml-25" />
                          <button type="button" (click)="getCandidats()"
                            class="btn btn-flat-primary ml-25">Search</button>
                        </label>
                      </div>
                    </div>

                    <ngx-datatable class="bootstrap core-bootstrap ml-1" [columnMode]="'flex'" [headerHeight]="40"
                      [footerHeight]="50" [rowHeight]="58" [limit]="10" rowHeight="auto" [rows]="Candidats">

                      <ngx-datatable-column [width]="25" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                        [resizeable]="false">

                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                          let-isSelected="isSelected" let-row="row">
                          <div class="custom-control custom-checkbox">
                            <input name="{{row?.id}}" type="checkbox" class="custom-control-input"
                              [checked]="isSelected" (change)="onCheckboxChange($event)" id="{{ row?.id }}" />
                            <label class="custom-control-label" for="{{ row?.id }}"></label>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Name" prop="full_name" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.name }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Email" prop="full_name" [flexGrow]="1.5">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.email }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Phone" prop="full_name" [flexGrow]="1">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.phone }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Adress" prop="full_name" [flexGrow]="1.5">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.adress }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="City" prop="full_name" [flexGrow]="0.75">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.city }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Country" prop="full_name" [flexGrow]="0.75">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.country }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="BirthDate" prop="full_name" [flexGrow]="0.75">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.birthDate | date:'yyyy-MM-dd' }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Message" prop="full_name" [flexGrow]="2">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div>
                            {{ row?.message }}
                          </div>
                        </ng-template>
                      </ngx-datatable-column>

                    </ngx-datatable>


                    <ngb-pagination class="d-flex justify-content-end" [directionLinks]="false"
                      [collectionSize]="totalPages" [(page)]="pagePosition" (pageChange)="pageChanged($event)">
                    </ngb-pagination>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="postulatCandidat()">Add Candidat</button>
                  </div>
                </ng-template>
                <!-- / Modal -->
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>