<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <h2 class="mb-2">Feedbacks</h2>

        <section>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body d-flex flex-column">
                                <h3 class="font-weight-bolder mb-2">Positive feedback</h3>
                                <p class="card-text">
                                    Great working enviroment
                                </p>
                            </div>
                        </div>
                        <div class="mx-1 float-right" style="font-size: small;">
                          <p style="margin-bottom: 0;">3 days ago</p>
                          <p style="margin-bottom: 0;">Goerge wiya</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body d-flex flex-column">
                                <h3 class="font-weight-bolder mb-2">To improve</h3>
                                <p class="card-text">
                                    Must respect the good parctice when mworking on such a project 
                                </p>
                            </div>
                        </div>
                        <div class="mx-1 float-right" style="font-size: small;">
                          <p style="margin-bottom: 0;">1 week ago</p>
                          <p style="margin-bottom: 0;">Goerge wiya</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body d-flex flex-column">
                                <h3 class="font-weight-bolder mb-2">Negative feedback</h3>
                                <p class="card-text">
                                    Version management problem
                                </p>
                            </div>
                        </div>
                        <div class="mx-1 float-right" style="font-size: small;">
                          <p style="margin-bottom: 0;">1 week ago</p>
                          <p style="margin-bottom: 0;">Goerge wiya</p>
                        </div>
                    </div>
                </div>
            </div>
         
        </section>
    </div>
</div>