<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <h2 class="mb-2">Feedbacks</h2>

        <section>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body d-flex flex-column">
                                <h3 class="font-weight-bolder mb-2">Feedback uno</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio labore, impedit nobis
                                    repudiandae cupiditate eligendi eaque laboriosam possimus ducimus odio!
                                </p>
                            </div>
                        </div>
                        <div class="mx-1 float-right" style="font-size: small;">
                          <p style="margin-bottom: 0;">il y'a une semaine</p>
                          <p style="margin-bottom: 0;">Goerge wiya</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body d-flex flex-column">
                                <h3 class="font-weight-bolder mb-2">Feedback dos</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio labore, impedit nobis
                                    repudiandae cupiditate eligendi eaque laboriosam possimus ducimus odio!
                                </p>
                            </div>
                        </div>
                        <div class="mx-1 float-right" style="font-size: small;">
                          <p style="margin-bottom: 0;">il y'a une semaine</p>
                          <p style="margin-bottom: 0;">Goerge wiya</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body d-flex flex-column">
                                <h3 class="font-weight-bolder mb-2">Feedback tres</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio labore, impedit nobis
                                    repudiandae cupiditate eligendi eaque laboriosam possimus ducimus odio!
                                </p>
                            </div>
                        </div>
                        <div class="mx-1 float-right" style="font-size: small;">
                          <p style="margin-bottom: 0;">il y'a une semaine</p>
                          <p style="margin-bottom: 0;">Goerge wiya</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>