
<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h4 class="card-title">All Campaigns</h4>
              </div>

              <div class="row">
                <div class="col-12 mt-2 mb-2">
                  <button class="btn btn-primary ml-1" rippleEffect>
                    <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                    <span class="d-none d-sm-inline-block" routerLink="/cvtech/campaign/addcampaign">Add New Campaign</span>
                  </button>              
                  <label class="d-flex align-items-center float-right mr-1">
                    Search
                    <input type="search" placeholder="Search" class="form-control ml-25" />
                  </label>
                </div>
              </div>

              <div class="table-responsive ">
                <table class="table">

                  <ngx-datatable class="bootstrap core-bootstrap ml-1" 
                    [columnMode]="'flex'" 
                    [headerHeight]="40"
                    [footerHeight]="50" 
                    [rowHeight]="58"
                    [limit]="10" 
                    rowHeight="auto" 
                    [rows]="Campains"
                    [selected]="chkBoxSelected"
                  >

                    <ngx-datatable-column name="Name" prop="full_name" [flexGrow]="1">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                          {{row?.name}} 
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Description" [flexGrow]="3">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.description}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Nb Positions" [flexGrow]="1">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row?.nbPositions}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column  name="Date" [flexGrow]="1.25">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.closing_date | date:'yyyy-MM-dd' }}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Action" [flexGrow]="0.75">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <div ngbDropdown container="body">
                          <a routerLink="/campaign/campaign-details/{{row.id}}">
                            <i data-feather="edit-2" class="mr-50"></i>
                            <span>Details</span>
                          </a>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    
                  </ngx-datatable>

                </table>

              </div>
              <!-- Pagination -->
              <!-- <div class="row">
                <div class="col-xl-12">
                  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="50" [(page)]="pageBasicText"
                    aria-label="Custom pagination">
                    <ng-template ngbPaginationPrevious><span [data-feather]="'chevron-left'"
                        [class]="'font-weight-bolder'"></span>Prev
                    </ng-template>
                    <ng-template ngbPaginationNext>Next<span [data-feather]="'chevron-right'"
                        [class]="'font-weight-bolder'"></span>
                    </ng-template>
                  </ngb-pagination>
                </div>
              </div> -->
              <!-- Pagination -->
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>