<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Basic Alerts end -->
    <section id="knowledge-base-search">
      <div class="row">
        <div class="col-12">
          <div class="card knowledge-base-bg text-center"
            style="background-image: url('assets/images/banner/banner.png')">
            <div class="card-body">
              <h2 class="text-primary">Dedicated Source Used on Website</h2>
              <p class="card-text mb-2">
                <span>Popular searches: </span><span class="font-weight-bolder">Sales automation, Email marketing</span>
              </p>
              <div class="input-group input-group-merge">
                <div class="text-left input-group-prepend">
                  GIANTLINK is a major player in customer relationship management and BPO. We develop privileged
                  partnerships with our customers with a multi-channel, and multilingual offers

                  Founded in 2010, Giantlink has become an employer and partner of choice, acting on its founding
                  values which led to ongoing growth in its activity.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Knowledge base Jumbotron -->
    <!-- Knowledge base -->
    <section id="knowledge-base-content">
      <div class="row kb-search-content-info match-height">
        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
          <div class="card">
            <img src="assets/images/banner/banner-4.png" class="card-img-top" alt="knowledge-base-image" />
            <div class="card-body text-center">
              <h4>Project Management</h4>
              <ul class="list-unstyled text-left text-body mt-1 mb-0">
                <li>Deployment</li>
                <li>Evaluation and Performance monitoring</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
          <div class="card">
            <img src="assets/images/banner/banner-5.png" class="card-img-top" alt="knowledge-base-image" />
            <div class="card-body text-center">
              <h4>Support & Assistance</h4>
              <ul class="list-unstyled text-left text-body mt-1 mb-0">
                <li>Ontime SLA</li>
                <li>ON Site / OFF Site</li>
                <li>Confidentiality</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 kb-search-content">
          <div class="card">
            <img src="assets/images/banner/banner-6.png" class="card-img-top" alt="knowledge-base-image" />
            <div class="card-body text-center">
              <h4>Training and support</h4>
              <ul class="list-unstyled text-left text-body mt-1 mb-0">
                <li>Users training</li>
                <li>Train the trainers programs</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </section>
    <!-- Knowledge base ends -->

  </div>
</div>
