<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section id="basic-carousel">
            <div class="row">

                <!--<div class="col-md-6 col-sm-12">
                    <input type="text" placeholder="options">
                </div>

                <div class="col-md-6 col-sm-12">
                    <input type="text" placeholder="description">
                </div>-->
                <div class="card">
                    <!-- <core-card-snippet [snippetCode]="_snippetCodeHorizontal"> -->

                    <div class="card-header">
                        <h4 class="card-title">Niveau d'études</h4>
                    </div>

                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label for="first-name">Niveau</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" id="first-name" class="form-control" name="fname"
                                                placeholder="Niveau" [(ngModel)]="education.name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label for="email-id">Description</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="email" id="email-id" class="form-control" name="email-id"
                                                placeholder="Description" [(ngModel)]="education.description" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-9 offset-sm-3">
                                    <button type="submit" rippleEffect class="btn btn-primary mr-1"
                                        (click)="saveEducation()">Add</button>
                                    <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>

        <div class="row" id="table-hover-animation">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Table des niveau d'éducation</h4>
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <input type="search" placeholder="Search" class="form-control ml-25" />
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover-animation">
                            <thead>
                                <tr>
                                    <th>Nom de niveau d'éducation</th>
                                    <th>Description</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let education of EducationList">
                                <tr>
                                    <td>
                                        <span class="font-weight-bold">{{education?.name}}</span>
                                    </td>
                                    <td>{{education?.description}}
                                    </td>
                                    <td class="overflow-hidden">
                                        <div ngbDropdown container="body">
                                            <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                                data-toggle="dropdown">
                                                <i data-feather="more-vertical"></i>
                                            </button>
                                            <div ngbDropdownMenu>
                                                <a ngbDropdownItem href="javascript:void(0);">
                                                    <i data-feather="edit-2" class="mr-50"></i>
                                                    <button class="btn btn-link"
                                                        (click)="modalOpenPrimary(modalPrimary,education.id)"
                                                        rippleEffect>Edit</button>
                                                    <ng-template #modalPrimary let-modal>
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="myModalLabel160">Modifier
                                                                niveau
                                                                d'etude
                                                            </h5>
                                                            <button type="button" class="close"
                                                                (click)="modal.dismiss('Cross click')"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" tabindex="0" ngbAutofocus>
                                                            <div class="col-12">
                                                                <div class="form-group row">
                                                                    <div class="col-sm-3 col-form-label">
                                                                        <label for="first-name">Niveau</label>
                                                                    </div>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="first-name"
                                                                            class="form-control" name="fname"
                                                                            placeholder="Niveau"
                                                                            [(ngModel)]="options.name" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group row">
                                                                    <div class="col-sm-3 col-form-label">
                                                                        <label for="Description">Description</label>
                                                                    </div>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="Description"
                                                                            class="form-control" name="desc"
                                                                            placeholder="Description"
                                                                            [(ngModel)]="options.description">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                (click)="updateEducation();modal.close('Accept click')" rippleEffect>
                                                                Accept
                                                            </button>
                                                        </div>
                                                    </ng-template>
                                                </a>
                                                <a ngbDropdownItem href="javascript:void(0);">
                                                    <i data-feather="trash" class="mr-50"></i>
                                                    <button type="button" class="btn btn-link"
                                                        (click)="deleteEducation(education.id)">
                                                        Delete
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>