<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title text-primary">Add Company</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form form-horizontal">
              <div class="row">
                <div class="col-6">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="first-name">Name</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="name" id="name" class="form-control" name="name" formControlName="name"
                          placeholder="name" [ngClass]="{ 'is-invalid': submitted && formControl['name'].errors }" />
                        <div *ngIf="formControl['name'].errors" class="required-feedback">
                          <div *ngIf="formControl['name'].errors['required']" class="required-feedback">Name is required
                          </div>
                          <div *ngIf="formControl['name'].errors['pattern']">
                            Name must have characters only
                          </div>
                          <div *ngIf="formControl['name'].errors['minlength']">Add more characters</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="Web site">Web site</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" id="website" class="form-control" name="website" placeholder="Web site"
                          formControlName="webSite"
                          [ngClass]="{ 'is-invalid': submitted && formControl['webSite'].errors }" />
                          <div *ngIf="formControl['webSite'].errors" class="d-block required-feedback">Website is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="email">Email</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="email" id="email" class="form-control" name="email" placeholder="email"
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && formControl['email'].errors }" />
                      <div *ngIf="formControl['email'].errors" class="required-feedback">
                        <div *ngIf="formControl['email'].errors['required']">Email is required</div>
                        <div *ngIf="formControl['email'].errors['email']">Email is invalid</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label for="phone">Phone number</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" id="phone" class="form-control" name="phone" placeholder="phone number"
                        formControlName="phoneNumber"
                        [ngClass]="{ 'is-invalid': submitted && formControl['phoneNumber'].errors }" />
                      <div *ngIf="formControl['phoneNumber'].errors" class="required-feedback">
                        <div *ngIf="formControl['phoneNumber'].errors['required']">Phone Number is required</div>
                        <div *ngIf="formControl['phoneNumber'].errors['pattern']">
                          Phone Number must start with eg: +2126 or 02126 or 06
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group row justify-content-start">
                    <div class="col-1 col-form-label" style="margin-right: 2.3rem;">
                      <label for="address">Address</label>
                    </div>
                    <div class="col-10">
                      <textarea id="address" placeholder="address" name="c-rp-cs" rows="2" wrap="soft"
                        class="form-control" formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && formControl['address'].errors }"></textarea>
                      <div *ngIf="formControl['address'].errors" class="required-feedback">
                        <div *ngIf="formControl['address'].errors['required']">Adress is required</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="d-flex justify-content-end mb-2">
                    <button type="reset" rippleEffect class="mr-1 btn btn-outline-secondary">Reset</button>
        
                    <button type="submit" class="btn btn-primary"
                      rippleEffect>Save</button>
                    <swal></swal>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>