<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row" id="basic-table">
      <div class="col-12">
        <!-- ---------------------------------- -->
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card">


              <div class="card-header">
                <h4 class="card-title text-primary">All Campaigns</h4>
              </div>

              <div class="row">
                <div class="col-12  mb-2">
                  <button class="btn btn-primary ml-1" rippleEffect>
                    <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                    <span class="d-none d-sm-inline-block" routerLink="/cvtech/campaign/addcampaign">Add New
                      Campaign</span>
                  </button>
                  <label class="d-flex align-items-center float-right mr-1">
                    Search
                    <input type="search" [(ngModel)]="name" name="name" id="name" placeholder="Search by Name"
                      class="form-control ml-25" (change)="getAllCampaigns()" />
                  </label>
                </div>
              </div>

              <ngx-datatable class="bootstrap core-bootstrap ml-1" [columnMode]="'flex'" [headerHeight]="40"
                [footerHeight]="50" [rowHeight]="58"  rowHeight="auto" [rows]="Campains"
                [selected]="chkBoxSelected">

                <ngx-datatable-column name="Name" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.name}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Description" [flexGrow]="2.75">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.description}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nb Positions" [flexGrow]="1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex justify-content-center">
                      {{row?.nbPositions}}
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Date" [flexGrow]="0.75">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.closing_date | date:'yyyy-MM-dd' }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" [flexGrow]="1.5">
                  <ng-template let-row="row" ngx-datatable-cell-template>

                    <div class="d-flex align-items-center">
                      <div container="body">
                        <button routerLink="campaign-details/{{row.id}}"  type="button" class="btn btn-flat-primary btn-sm" rippleEffect>
                          <i data-feather="file-text" class="mr-50"></i> Details
                        </button>
                        <button (click)="modalOpenDanger(modalDanger, row?.id)" type="button" class="btn btn-flat-danger btn-sm" rippleEffect>
                          <i data-feather="trash-2" class="mr-50"></i> Delete
                        </button>
                      </div>
                    </div>

                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                  <div class="page-count">
                    <span *ngIf="selectedMessage">
                      {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                    </span>
                    {{rowCount.toLocaleString()}} {{totalMessage}}
                  </div>
                </ng-template>
              </ngx-datatable-footer>

              <div class="col-lg-12">
                <ngb-pagination class="d-flex justify-content-end" [directionLinks]="false"
                  [collectionSize]="totalPages" [(page)]="pagePosition" (pageChange)="pageChanged($event)">
                  <ng-template ngbPaginationPrevious><span [data-feather]="'chevron-left'"
                      [class]="'font-weight-bolder'"></span>Prev
                  </ng-template>
                  <ng-template ngbPaginationNext>Next<span [data-feather]="'chevron-right'"
                      [class]="'font-weight-bolder'"></span>
                  </ng-template>
                </ngb-pagination>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-danger d-inline-block">
  <!-- Modal -->
  <ng-template #modalDanger let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Confirm</h5>

      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      Are you sure you want to delete the compaign ?
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cancel
      </button>

      <button type="button" class="btn btn-danger" (click)="deleteCampaign()" routerLink="/reload" rippleEffect>
        Delete
      </button>

    </div>
  </ng-template>
  <!-- / Modal -->
</div>

