<section id="faq">
    <div class="col-12 mt-1" id="blogComment">
        <h3 class="my-2">How to Fetch each records from MySQL with jQuery AJAX in
            Dynamically Add or Remove Input Fields in Laravel?</h3>
        <div class="card">
            <div class="card-body">
                <div class="media" style="align-items: normal;">
                    <div class="mr-2">
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <h3>12</h3>
                                <p class="mb-0" style="font-size: x-small;">Positifs</p>
                                <i class="bi bi-caret-up-fill" style="font-size: 35px;"></i>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <i class="bi bi-caret-down-fill" style="font-size: 35px;"></i>
                                <h3>-2</h3>
                                <p class="mb-0" style="font-size: x-small;" width="38" height="38">Negatifs</p>
                            </div>
                        </div>
                    </div>
                    <div class="media-body d-flex flex-column justify-content-around">
                        <p class="card-text">I'm trying to Fetch each records from MySQL with jQuery AJAX in Dynamically
                            Add or
                            Remove Input Fields in Laravel, but when I add the second dynamic element, it doesn't add
                            Fetch each
                            records from database.</p>
                        <a href="javascript:void(0);">
                            <div class="d-inline-flex align-items-center">
                                <div class="badge badge-pill badge-primary mr-1">javascript</div>
                                <div class="badge badge-pill badge-secondary mr-1">laravel</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="float-right" style="font-size: small;">
                    <p style="margin-bottom: 0;">il y'a une semaine</p>
                    <p style="margin-bottom: 0;">Goerge wiya</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-12">
    <div class="form-group mb-2 d-flex flex-column">
        <label>Comment</label>
        <fieldset class="form-label-group">
            <textarea class="form-control" id="label-textarea" rows="3" placeholder="Label in Textarea"></textarea>
            <label for="label-textarea">Label in Textarea</label>
        </fieldset>
        <div class="align-self-end">
          <a href="" class="btn btn-primary ml-1">Comment</a>
        </div>
    </div>
</div>


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="media">
                <div class="avatar mr-2">
                    <img src="assets/images/portrait/small/avatar-s-7.jpg" width="38" height="38" alt="Avatar" />
                </div>
                <div class="media-body">
                    <h6 class="font-weight-bolder mb-25">El ba9ali youness </h6>
                    <p class="card-text"> this is a comment </p>
                    <p class="card-text"> this is a comment comment </p>
                </div>
            </div>
        </div>
    </div>
</div>