<section id="faq">
    <div class="col-12 mt-1" id="blogComment">
        <h3 class="my-2">{{actualFaq?.content}}</h3>
        <div class="card">
            <div class="card-body">
                <div class="media" style="align-items: normal;">
                    <div class="mr-2">
                        <div class="d-flex flex-column align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <h3>{{actualFaq?.votesUp}}</h3>
                                <p class="mb-0" style="font-size: x-small;">Positifs</p>
                                <i (click)="voteUp(actualFaq?.id)" class="bi bi-caret-up-fill cursor-pointer" style="font-size: 35px;"></i>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <i (click)="voteDown(actualFaq?.id)" class="bi bi-caret-down-fill cursor-pointer" style="font-size: 35px;"></i>
                                <h3>{{actualFaq?.votesDown}}</h3>
                                <p class="mb-0" style="font-size: x-small;" width="38" height="38">Negatifs</p>
                            </div>
                        </div>
                    </div>
                    <div class="media-body d-flex flex-column justify-content-around">
                        <p class="card-text">{{actualFaq?.description}}</p>
                        <a href="javascript:void(0);">
                            <div class="d-inline-flex align-items-center">
                                <div class="badge badge-pill badge-primary mr-1" *ngFor="let tag of actualFaq?.tags">
                                    {{tag.name}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="float-right" style="font-size: small;">
                    <p style="margin-bottom: 0;">{{actualFaq?.postingDate}}</p>
                    <p style="margin-bottom: 0;">{{actualFaq?.employee?.lastName}} {{actualFaq?.employee?.firstName}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-12">
    <div class="form-group mb-2 d-flex flex-column">
        <label>Comment</label>
        <fieldset class="form-label-group">
            <textarea class="form-control" id="label-textarea" rows="3" placeholder="add youre comment here"></textarea>
        </fieldset>
        <div class="align-self-end">
            <a href="" class="btn btn-primary ml-1">Comment</a>
        </div>
    </div>
</div>


<div class="col-12" *ngFor="let comment of actualFaq?.comments">
    <div class="card">
        <div class="card-body">
            <div class="media">
                <div class="avatar mr-2">
                    <img src="assets/images/portrait/small/avatar-s-2.jpg" width="38" height="38" alt="" />
                </div>
                <div class="media-body">
                    <h6 class="font-weight-bolder mb-25">{{comment?.employeeCommentResponse?.lastName}} {{comment?.employeeCommentResponse?.firstName}}</h6>
                    <p class="card-text">{{comment?.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>