<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="row" id="basic-table">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h4 class="card-title text-primary"> All teams </h4>
              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary ml-1" rippleEffect (click)="modalAdd(modalPrimaryAdd)">
                    <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                    <span class="d-none d-sm-inline-block"> Add New team </span>
                  </button>

                  <label class="d-flex align-items-center float-right mr-1">
                    Search
                    <input type="search" [(ngModel)]="name" name="name" id="name" placeholder="Search by Name"
                      class="form-control ml-25" (keyup)="getAllteams()" />
                  </label>
                </div>
              </div>

              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <div class="d-flex justify-content-between align-items-center m-1">
                  <label class="d-flex align-items-center">Show
                    <select class="form-control mx-25" [(ngModel)]="pageSize" (change)="getAllteams()">
                      <option value="2">2</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                    </select>
                    entries</label>
                </div>
              </div>

              <ngx-datatable class="bootstrap core-bootstrap ml-1" [columnMode]="'flex'" [headerHeight]="40"
                [footerHeight]="50" [rowHeight]="58" [limit]="10" rowHeight="auto" [rows]="teams"
                [selected]="chkBoxSelected">

                <ngx-datatable-column name="team Name" [flexGrow]="1.75">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.teamName}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="team Description" [flexGrow]="2.50">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row?.teamDesc}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" [flexGrow]="0.75">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="d-flex align-items-center">
                      <div ngbDropdown container="body">
                        <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i data-feather="more-horizontal" class="text-primary cursor-pointer mr-50"></i>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">

                          <a ngbDropdownItem class="d-flex align-items-center">
                            <i data-feather="file-text" class="mr-50"></i>
                            Details
                          </a>

                          <a ngbDropdownItem href="javascript:void(0);" 
                            (click)="modalEdit(modalPrimaryedit,row.id)">
                            <i data-feather="edit-2" class="mr-50"></i>
                            <span>Edit</span>
                          </a>

                          <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                            (click)="modalOpenDanger(modalDanger, row?.id)">
                            <i data-feather="trash-2" class="mr-50"></i>
                            Delete
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                  <div class="page-count">
                    <span *ngIf="selectedMessage">
                      {{selectedCount.toLocaleString()}} {{selectedMessage}} /
                    </span>
                    {{rowCount.toLocaleString()}} {{totalMessage}}
                  </div>
                </ng-template>
              </ngx-datatable-footer>

              <div class="col-lg-12">
                <ngb-pagination class="d-flex justify-content-end" [directionLinks]="false"
                  [collectionSize]="totalPages" [(page)]="pagePosition" (pageChange)="pageChanged($event)">
                  <ng-template ngbPaginationPrevious>
                    <span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'">
                    </span>Prev
                  </ng-template>

                  <ng-template ngbPaginationNext>Next
                    <span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'">
                    </span>
                  </ng-template>

                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-----------   Modal Add Team   ----------->

<ng-template #modalPrimaryAdd let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"> Add team </h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="form" (ngSubmit)="AddTeam()" class="login-form">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="teamName"> Name of team </label>
          </div>
          <div class="col-sm-9">

            <div class="form-group">
              <input type="text" id="teamName" class="form-control" name="teamName" 
                  formControlName="teamName" placeholder="teamName" 
                  [ngClass]="{ 'is-invalid': submitted && formControl['teamName'].errors }" />
              <div *ngIf="formControl['teamName'].touched && formControl['teamName'].invalid">
                  <div *ngIf="formControl['teamName'].errors && formControl['teamName'].errors['required']">
                    <span class="err"> The team's name is required ! </span>
                  </div>
                  <div *ngIf="formControl['teamName'].errors['minlength']">
                    <span class="err"> The name should be more than 3 character ! </span>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="teamDesc"> Description of team </label>
          </div>
          <div class="col-sm-9">

            <div class="form-group">
              <input type="text" id="teamDesc" class="form-control" name="teamDesc" 
                  formControlName="teamDesc" placeholder="teamDesc" 
                  [ngClass]="{ 'is-invalid': submitted && formControl['teamDesc'].errors }" />
              <div *ngIf="formControl['teamDesc'].touched && formControl['teamDesc'].invalid">
                  <div *ngIf="formControl['teamDesc'].errors && formControl['teamDesc'].errors['required']">
                    <span class="err"> The description's team is required ! </span>
                  </div>
                  <div *ngIf="formControl['teamDesc'].errors['minlength']">
                    <span class="err"> The description should be more than 3 character ! </span>
                  </div>
              </div>
          </div>

            <!--
                <input
                    formControlName="teamDesc"
                    [(ngModel)]="team.teamDesc"
                    [ngModelOptions]="{standalone: true}"
                    placeholder="teamDesc"
                    id="teamDesc"
                    name="teamDesc"
                    type="text"
                    class="form-control"
                  />
                  <div *ngIf="f['teamDesc'].touched && f['teamDesc'].invalid">
                    <p *ngIf="f['teamDesc'].errors && f['teamDesc'].errors['required']">
                      <span class="err"> teamDesc is required.</span>
                    </p>
                    <div *ngIf="f['teamDesc'].errors && f['teamDesc'].errors['minlength']">
                      <span class="err">teamDesc should be more than 3 character.</span>
                    </div>
                 </div>
-->
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="department"> Department </label>
          </div>
          <br>
          <div class="col-sm-9">
            <select class="form-control" (change)="onChange($event)">
              <option *ngFor="let dep of departments" id="department" value="{{dep.id}}">{{dep.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" rippleEffect>
          Accept
        </button>
      </div>

    </form>
  </div>
</ng-template>

<!-----------   Modal Edit Team   ----------->

<ng-template #modalPrimaryedit let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"> Edit team </h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="form" (ngSubmit)="updateTeam()" class="login-form">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="editname"> Name of team </label>
          </div>

          <div class="col-sm-9">
              <div class="form-group">
                  <input
                  type="text"
                  formControlName="teamName"
                  id="teamName"
                  class="form-control"
                  name="teamName"
                  [ngClass]="{
                    'is-invalid': formControl['teamName'].errors
                  }"
                  placeholder="Enter the skill's name"
                />
                <div *ngIf="formControl['teamName'].errors">
                    <div *ngIf="formControl['teamName'].errors['required']">
                      The Team's name is required
                    </div>
                    <div *ngIf="formControl['teamName'].errors['minlength']">
                      <span class="err">The name should be more than 3 character!</span>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="editdesc"> Description of team </label>
          </div>
          <div class="col-sm-9">

            <div class="form-group">
              <input
              type="text"
              formControlName="teamDesc"
              id="skill-name"
              class="form-control"
              name="teamDesc"
              [ngClass]="{
                'is-invalid': formControl['teamDesc'].errors
              }"
              placeholder="Enter the skill's name"
            />
            <div *ngIf="formControl['teamDesc'].errors" class="invalid-feedback">
                <div *ngIf="formControl['teamDesc'].errors['required']">
                  The team's description is required !
                </div>
                <div *ngIf="formControl['teamDesc'].errors['minlength']">
                  <span class="err"> Description should be more than 3 character !</span>
                </div>
            </div>
          </div>
  
      </div>
    </div>
  </div>

      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label for="dep"> Department </label>
          </div>
          <div class="col-sm-9">
            <select class="form-control" (change)="onChange($event)">
              <option *ngFor="let dep of departments" id="dep" value="{{dep.id}}">{{dep.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" rippleEffect>
          Accept
        </button>
      </div>

    </form>
  </div>
</ng-template>

<!-----------   Modal Danger   ----------->

<div class="modal-danger d-inline-block">
  <ng-template #modalDanger let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Confirm</h5>

      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      Are you sure you want to delete the Team ?
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cancel
      </button>

      <button type="button" class="btn btn-danger" (click)="deleteTeam()" rippleEffect>
        Delete
      </button>

    </div>
  </ng-template>
</div>
<swal></swal>