<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section id="faq-search-filter">
      <div class="card faq-search" style="background-image: url('assets/images/banner/banner.png')">
        <div class="card-body text-center">
          <!-- main title -->
          <h2 class="text-primary">Let's answer some questions</h2>

          <!-- subtitle -->
          <p class="card-text mb-2">or choose a category to quickly find the help you need</p>

          <!-- search input -->
          <form class="faq-search-input">
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i data-feather="search"></i>
                </div>
              </div>
              <input type="text" name="searchbar" class="form-control" placeholder="Search faq..." />
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- account setting page -->
    <section id="faq">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul class="nav nav-pills flex-column nav-left">

            <ul class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
            </ul>

            <!-- FAQ image -->
            <img src="assets/images/illustration/faq-illustrations.svg" class="img-fluid d-none d-md-block pt-5"
              alt="demand img" />
          </ul>
        </div>
      </div>
    </section>
    <!--/ account setting page -->

  </div>
</div>