<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="card">
          <div class="card-body">


            <!-- header media -->


            <!-- <div class="media">
              <a href="javascript:void(0);" class="mr-25">
                <img class="rounded mr-50" alt="profile image" height="76" width="80" />
              </a>
               upload and reset button 
              <div class="media-body mt-75 ml-1">
                <button (click)="file.click()" for="account-upload" class="btn btn-sm btn-primary mb-75 mr-75"
                  rippleEffect>
                  Upload
                </button>
                <input type="file" #file id="account-upload" hidden accept="image/*" />
                <button class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>Reset</button>
                <p>Allowed JPG, GIF or PNG. Max size of 800kB</p>
              </div>
              / upload and reset button 
            </div> -->


            <!--/ header media -->




            <div class="row media-list media-bordered">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">Full name</h5>
                    <p class="mb-0">
                      {{User?.name}}
                    </p>
                  </div>
                </div>
              </div>

              <div class=" col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">Email</h5>
                    <p class="mb-0">
                      {{User?.email}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="media col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">Phone number</h5>
                    <p class="mb-0">
                      {{User?.phone}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="media col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">Adress</h5>
                    <p class="mb-0">
                      {{User?.adress}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="media col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">City</h5>
                    <p class="mb-0">
                      {{User?.city}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="media col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">Country</h5>
                    <p class="mb-0">
                      {{User?.country}}
                    </p>
                  </div>
                </div>
              </div>
              
              <div class="media col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">Birth date</h5>
                    <p class="mb-0">
                      {{User?.birthDate| date:'yyyy-MM-dd'}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="media col-sm-6">
                <div class="form-group">
                  <div class="media-body">
                    <h5 class="media-heading">Message</h5>
                    <p class="mb-0">
                      {{User?.message}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
              <button type="button" (click)="modalOpenForm(modalForm)" class="btn btn-outline-primary" rippleEffect>
                Update
              </button>
            </div>
              <!-- Login Form -->
              <div class="login-form">
                <!-- Button trigger modal -->

                <!-- Modal -->
                <ng-template #modalForm let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">Update form</h4>
                    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" tabindex="0" ngbAutofocus>
                      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form form-horizontal">

                      <div class="row">


                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                              <label>Civility</label>
                              <div class="form-group">
                                <label for="customSelect"></label>
                                <select class="custom-select" name="civility" formControlName="civility" id="user-civ">
                                  <option value="Mr.">Mr.</option>
                                  <option value="Mlle.">Mlle.</option>
                                  <option value="Mme.">Mme.</option>
                                </select>
                              </div>
                          </div>
                        </div>

                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" formControlName="name" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                              placeholder="{{User?.name}}" />
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                              <div *ngIf="f['name'].errors['required']">Fullname is required</div>
                              <div *ngIf="f['name'].errors['pattern']">Must contain only alphabetic letters</div>
                              <div *ngIf="f['name'].errors['minlength']">Add more letters</div>
                            </div>

                          </div>
                        </div>


                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Email</label>
                            <input type="text" formControlName="email" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                              placeholder="{{User?.email}}" />
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                              <div *ngIf="f['email'].errors['required']">Email is required</div>
                              <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                            </div>
                          </div>
                        </div>



                        <div class="col-12 col-sm-6">
                          <div class="form-group ">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" formControlName="phone"
                              [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
                              placeholder="{{User?.phone}}" />
                            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                              <div *ngIf="f['phone'].errors['required']">Phone is required</div>
                              <div *ngIf="f['phone'].errors['pattern']">phone is invalid</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-adress">Adress</label>
                            <input type="text" class="form-control" placeholder="{{User?.adress}}"
                              formControlName="adress" [ngClass]="{'is-invalid': submitted && 
                          f['adress'].errors}" />
                            <div *ngIf="submitted && f['adress'].errors" class="invalid-feedback">
                              <div *ngIf="f['adress'].errors['required']">Adress is required</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-city">City</label>
                            <input type="text" class="form-control" placeholder="{{User?.city}}" formControlName="city"
                              [ngClass]="{'is-invalid' : submitted && 
                          f['city'].errors}" />
                            <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                              <div *ngIf=" f['city'].errors['required'] ">City is required</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Country</label>
                            <div class="form-group">
                              <select class="form-control" id="basicSelect" name="country" formControlName="country">
                                <option>Morocco</option>
                                <option>France</option>
                                <option>Spain</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-birth-date">Birth date</label>
                            <input type="date" id="closing-date" class="form-control" name="c-closing-date"
                              placeholder="{{User?.birthDate | date:'yyyy-MM-dd' }}" formControlName="birthDate"/>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-group">
                              <label  for="accountTextarea">Message</label>
                              <textarea id="campaign-rp-cs" placeholder="{{User?.message}}" 
                                name="message" rows="4"
                                formControlName="message" 
                                [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
                                class="form-control" data-v-aa799a9e=""></textarea>
                              <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                <div *ngIf="f['message'].errors['required']">Message is required</div>
                                <div *ngIf="f['message'].errors['minlength']">
                                  Message should be between 10 to 255 characters
                                </div>
                              </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-group">
                            <button type="submit" 
                            onsubmit="onSubmit()"
                            rippleEffect class="btn btn-primary mr-1"
                            >Update</button>
                          </div>
                        </div>

                      </div>
                    </form>
                  </div>
                </ng-template>
                <!-- / Modal -->
              </div>
            </div>
            <!-- form -->
            <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="row">

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" formControlName="name" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" 
                      value="{{User?.name}}" />
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                      <div *ngIf="f['name'].errors['required']">Fullname is required</div>
                    </div>
                  </div>
                </div>


                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" 
                      value="{{User?.email}}" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                      <div *ngIf="f['email'].errors['required']">Email is required</div>
                      <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                    </div>
                  </div>
                </div>



                <div class="col-12 col-sm-6">
                  <div class="form-group ">
                    <label>Phone Number</label>
                    <input type="text" class="form-control" formControlName="phone"
                      [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" maxlength="10"
                      value="{{User?.phone}}" />
                    <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                      <div *ngIf="f['phone'].errors['required']">Phone is required</div>
                      <div *ngIf="f['phone'].errors['pattern']">phone is invalid</div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="account-adress">Adress</label>
                    <input type="text" class="form-control" value="{{User?.adress}}" />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="account-city">City</label>
                    <input type="text" class="form-control" value="{{User?.city}}" />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="account-country">Country</label>
                    <input type="text" class="form-control" value="{{User?.country}}" />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="account-birth-date">Birth date</label>
                    <input type="text" class="form-control" value="{{User?.birthDate | date:'yyyy-MM-dd' }}" />
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label for="accountTextarea">Bio</label>
                    <textarea class="form-control" rows="4" value="{{User?.message}}"></textarea>
                  </div>
                </div>




                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Update</button>&nbsp;&nbsp;&nbsp;
                  <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                    Reset
                  </button>
                </div>

              </div>
            </form> -->
            <!--/ form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>