<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section id="basic-carousel">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Current Situation</h4>
                    </div>

                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label for="first-name">Name</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="text" id="first-name" class="form-control" name="fname"
                                                placeholder="Name" [(ngModel)]="currentSituation.name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-sm-3 col-form-label">
                                            <label for="email-id">Description</label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input type="email" id="email-id" class="form-control" name="email-id"
                                                placeholder="Description" [(ngModel)]="currentSituation.description" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-9 offset-sm-3">
                                    <button type="submit" rippleEffect class="btn btn-primary mr-1"
                                        (click)="saveCSituation()">Add</button>
                                    <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>

        <div class="row" id="table-hover-animation">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Current Situation Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <div class="col-md-6 col-12">
                                <div class="d-flex justify-content-between align-items-center m-1">
                                    <label class="d-flex align-items-center">Show
                                        <select class="form-control mx-25" [(ngModel)]="pageSize"
                                            (change)="getCSituations()">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                        </select>
                                        entries</label>
                                </div>
                            </div>


                            <div class="input-group mb-6">
                                <input type="search" placeholder="Search" class="form-control ml-25"
                                    [(ngModel)]="searchTitle" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="getCSituations()"><i
                                            class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover-animation">
                    <thead>
                        <tr>
                            <th width="25%">Name</th>
                            <th width="65%">Description</th>
                            <th width="10%">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let education of CSituationList| paginate :{itemsPerPage: pageSize,
                                    currentPage: page,
                                    totalItems: count
                                }">
                            <td>
                                <span class="font-weight-bold">{{education?.name}}</span>
                            </td>
                            <td>{{education?.description}}
                            </td>
                            <td class="overflow-hidden">
                                <div ngbDropdown container="body">
                                    <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle
                                        data-toggle="dropdown">
                                        <i data-feather="more-vertical"></i>
                                    </button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0);">
                                            <button class="btn btn-link"
                                                (click)="modalOpenPrimary(modalPrimary,education.id)" rippleEffect><i
                                                    data-feather="edit-2" class="mr-50"></i>Edit</button>
                                            <ng-template #modalPrimary let-modal>
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="myModalLabel160">Update Current
                                                        Situation
                                                    </h5>
                                                    <button type="button" class="close"
                                                        (click)="modal.dismiss('Cross click')" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" tabindex="0" ngbAutofocus>
                                                    <div class="col-12">
                                                        <div class="form-group row">
                                                            <div class="col-sm-3 col-form-label">
                                                                <label for="first-name">Name</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="first-name" class="form-control"
                                                                    name="fname" placeholder="Name"
                                                                    [(ngModel)]="options.name" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group row">
                                                            <div class="col-sm-3 col-form-label">
                                                                <label for="Description">Description</label>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <input type="text" id="Description" class="form-control"
                                                                    name="desc" placeholder="Description"
                                                                    [(ngModel)]="options.description">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="updateCSituation();modal.close('Accept click')"
                                                        rippleEffect>
                                                        Accept
                                                    </button>
                                                </div>
                                            </ng-template>
                                        </a>
                                        <a ngbDropdownItem href="javascript:void(0);">
                                            <button type="button" class="btn btn-link"
                                                (click)="deleteCSituation(education.id)">
                                                <i data-feather="trash" class="mr-50"></i>
                                                Delete
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>