<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
        <section id="basic-carousel">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-primary">Add Experience</h4>
                        </div>
                        
                        <div class="card-body">
                            <form class="form form-horizontal" [formGroup]="exprienceForm" (ngSubmit)="addData()">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="first-name">Name</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" formControlName="name" id="first-name" class="form-control" name="fname"
                                                    placeholder="Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-3 col-form-label">
                                                <label for="email-id">Description</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <textarea id="campaign-desc" formControlName="description" placeholder="Description" name="c-desc"  rows="2" wrap="soft" class="form-control" data-v-aa799a9e=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 offset-sm-3">
                                        <button type="submit" rippleEffect class="btn btn-primary mr-1">Add</button>
                                        <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               

            </div>
        </section>
        <div class="row" id="table-hover-animation">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-primary">All Experiences</h4>
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                            <input type="search" placeholder="Search" class="form-control ml-25" />
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover-animation">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom d'experiences global</th>
                                    <th>Description</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of data, let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>
                                        <span class="font-weight-bold">{{obj.name}}</span>
                                    </td>
                                    <td>{{obj.description}}</td>
                                    <td class="overflow-hidden">
                                        <div ngbDropdown container="body">
                                          <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                                            <i data-feather="more-horizontal"></i>
                                          </button>
                                          <div ngbDropdownMenu>
                                            <a ngbDropdownItem href="javascript:void(0);">
                                              <i data-feather="edit-2" class="mr-50"></i><span>Edit</span>
                                            </a
                                            >
                                            <a ngbDropdownItem  (click)="deleteData(obj.id)">
                                                <i data-feather="trash" class="mr-50"></i>
                                                <span>Delete</span>
                                            </a>
                                          </div>
                                        </div>
                                      </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>